
.tabuleiro_pai{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.quadrado{
    background-color:rgb(102, 0, 197);
    width: 70px;
    height: 70px;
}

.main_tabuleiro{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 560px;
    width: 560px;
    overflow: hidden;
    border-radius: 10px;
}

.casas:nth-of-type(odd) .quadrado:nth-of-type(even) {
    background-color: #ccb6ff;
}

.casas:nth-of-type(even) .quadrado:nth-of-type(odd) {
    background-color: #ccb6ff;
}

img{
    width: 100%;
}


.quadrado {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.casas:nth-child(odd) .quadrado:nth-child(odd),
.casas:nth-child(even) .quadrado:nth-child(even) {
    background-color: #ccb6ff; 
}

.casas:nth-child(odd) .quadrado:nth-child(even),
.casas:nth-child(even) .quadrado:nth-child(odd) {
    background-color: #6f00ff; 
}

/* Estilo para peça selecionada */
.selecionado {
    background-color: rgba(0, 255, 0, 0.5) !important;
}

/* Estilo para movimentos possíveis */
.possivel {
    background-color: rgba(0, 0, 255, 0.3) !important;
}